.games {
    width: 700px;
    height: 450px;
}

.dancing {
    width: 700px;
    height: 450px;
}

.fighting {
    width: 700px;
    height: 450px;
}

body {
    display: grid;
    flex-wrap: wrap;
    background-color: rgb(5, 223, 157);
}
